@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);

/*
---------------------------------*/
.c-container {
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	text-align: left;
	align-items: center;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
}

/*
---------------------------------*/
.l-block {
	// l-block01
	&01 {
		width: 100%;
		height: 100vh;
		display: flex;
	}
	// l-block02
	&02 {
		width: 50%;
	}
}

/*
---------------------------------*/
.c-box {
	// c-box01
	&01 {
		padding: 7%;
		padding-left: 15%;
		width: 50%;
		background-color: #f2fef9;
		position: relative;
		&::before {
			width: 100px;
			height: 100px;
			background: url("~@/assets/img/account.svg");
			background-size: 100px;
			position: absolute;
			top: 22%;
			left: 10%;
			content: "";
		}
	}
	// c-box02
	&02 {
		padding: 10%;
		padding-left: 25%;
		height: 50vh;
		background-color: #fff;
		position: relative;
		&::before {
			width: 100px;
			height: 94px;
			background: url("~@/assets/img/desktop.svg");
			background-size: 100px 94px;
			position: absolute;
			top: 230px;
			left: 65px;
			content: "";
		}
	}
	// c-box03
	&03 {
		padding: 10%;
		padding-left: 25%;
		height: 50vh;
		background-color: #fcfcfc;
		position: relative;
		&::before {
			width: 100px;
			height: 95px;
			background: url("~@/assets/img/mail.svg");
			background-size: 100px 95px;
			position: absolute;
			top: 230px;
			left: 65px;
			content: "";
		}
	}
}

.c-form {
	// .c-form01
	&01 {
    $root: &;
    &__block {
      display: flex;
      margin-bottom: 10px;
    }
		&__item {
      & + #{$root}__item {
        margin-left: 10px;
      }
			label {
				font-size: 1.4rem;
				display: block;
			}
			input,
			textarea {
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 4px;
        padding: 3px 7px;
      }
      #fName {
        width: 160px;
      }
      #fMail {
        width: 270px;
      }
      #fTextarea {
        width: 440px;
      }
		}
	}
}

/*
---------------------------------*/
.c-title {
	// c-title01
	&01 {
		margin-bottom: 30px;
		font-size: 2.4rem;
		font-weight: normal;
	}
}

/*
---------------------------------*/
.c-dl {
	// c-dl01
	&01 {
		display: flex;
		flex-wrap: wrap;
		font-size: 2rem;
		dt {
			width: 120px;
			&:not(:first-of-type) {
				margin-top: 20px;
			}
		}
		dd {
			width: calc(100% - 200px);
			&:not(:first-of-type) {
				margin-top: 20px;
			}
		}
	}
	// c-dl02
	&02 {
		margin-top: 15px;
		font-size: 1.6rem;
	}
}

/*
---------------------------------*/
.c-list {
	// 1c-list01
	&01 {
		display: flex;
		flex-wrap: wrap;

		$root: &;
		&__item {
			width: 200px;
			& + #{$root}__item {
				margin-left: 20px;
			}
			a {
				color: #333;
				font-size: 1.6rem;
				font-weight: bold;
				text-decoration: none;
      }
      img {
        width: 100%;
      }
		}
	}
}

/*
---------------------------------*/
.c-imgList {
	// c-imgList01
	&01 {
		display: flex;
		flex-wrap: wrap;
		img {
			width: calc(100% / 3 - 40px);
			&:not(:nth-child(3n + 1)) {
				margin-left: 30px;
			}
			&:nth-child(n + 4) {
				margin-top: 30px;
			}
		}
	}
	// c-imgList02
	&02 {
		display: flex;
		flex-wrap: wrap;
		img {
			&:not(:nth-child(2n + 1)) {
				margin-left: 20px;
			}
		}
	}
}

/*
---------------------------------*/
.c-more {
	// c-more01
	&01 {
		width: 78px;
		height: 78px;
		background: #fff;
		border: 1px solid #dcdcdc;
		border-radius: 50%;
		display: flex;
		position: absolute;
		right: 7%;
		bottom: 10%;
		color: #333;
		font-size: 1.6rem;
		text-align: center;
		text-decoration: none;
		align-items: center;
    justify-content: center;
    &:hover {
      color: #fff;
      background-color: #48e2b6;
      transition: background-color .4s,
                  color .2s;
    }
	}
}

/*
---------------------------------*/
.l-anime1 {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: #fcfcfc;
	font-family: 'Anonymous Pro', monospace;
	animation:  z-index_out 0s 10s forwards;
}

/*
---------------------------------*/
.l-anime2 {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
  background-color: #fcfcfc;
  display: flex;
  animation:  z-index_out 0s 12.6s forwards,
              background 0s 11s forwards;
  div {
    position: relative;
    width: calc(100% / 5);
    top: 0;
    height: 0;
    &:nth-child(1) {
      background: #48e2b6;
      animation:  test1 0.5s 10s forwards,
                  test2 0.5s 11.3s forwards;
    }
    &:nth-child(2) {
      background: #48e2b6;
      animation:  test1 0.5s 10.2s forwards,
                  test2 0.5s 11.5s forwards;
    }
    &:nth-child(3) {
      background: #48e2b6;
      animation:  test1 0.5s 10.4s forwards,
                  test2 0.5s 11.7s forwards;
    }
    &:nth-child(4) {
      background: #48e2b6;
      animation:  test1 0.5s 10.6s forwards,
                  test2 0.5s 11.9s forwards;
    }
    &:nth-child(5) {
      background: #48e2b6;
      animation:  test1 0.5s 10.8s forwards,
                  test2 0.5s 12.1s forwards;
    }
  }
}

@keyframes test1 {
	0% { height: 0; }
	100% { height: 100vh; }
}

@keyframes test2 {
	0% { top: 0; }
	100% { top: 100vh; }
}

@keyframes background {
	0% { background-color: #fcfcfc; }
	100% { background-color: transparent; }
}

/*
---------------------------------*/
.line-1 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6em;
	margin: 0 auto;
	border-right: 2px solid rgba(51, 51, 51, 0.749);
	font-size: 6rem;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%) translateX(-50%);
}

/*
---------------------------------*/
.line-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10em;
	margin: 0 auto;
	border-right: 2px solid transparent;
	font-size: 6rem;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%) translateX(-50%);
}

/*
---------------------------------*/
/* Animation */
.anim-typewriter1 {
	animation:  typewriter1 1.5s steps(11) 1s 1 normal both,
							blinkTextCursor 500ms steps(11) infinite normal,
							fadeout 0.3s 4s forwards;
}

.anim-typewriter2 {
	animation:  typewriter2 2s steps(18) 6s 1 normal both,
							blinkTextCursor 500ms steps(18) 4.5s infinite normal,
							fadeout 0.3s 9s forwards;
}

/*
---------------------------------*/
@keyframes fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes z-index_in {
	0% { z-index: 0; }
	100% { z-index: 1; }
}

@keyframes z-index_out {
	0% { z-index: 1; }
	100% { z-index: 0; }
}

@keyframes typewriter1 {
	from { width: 0; }
	to { width: 6em; }
}

@keyframes typewriter2 {
	from { width: 0; }
	to { width: 10em; }
}

@keyframes blinkTextCursor {
	from { border-right-color: rgba(51, 51, 51, 0.749); }
	to { border-right-color: transparent; }
}
